# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
.mypy_cache/
.pytest_cache/

# Virtual envs
venv/
.env

# VCS / OS junk
.git
.gitignore
.DS_Store
.vscode/
.idea/

# Build artifacts
dist/
build/